* {
  border: 1px solid black;
}

html {
  font-size: 16px;
}

header {
  display: flex;
}

.container {
  display: flex;
}

/*Header Desktop*/

@media only screen and (min-width: 375px) {
  .nav_mobile {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .nav_desktop {
    display: flex;
    justify-content: space-between;
  }

  .nav_desktop ul {
    padding-right: 24px;
    display: inline-flex;
    align-items: center;
  }

  .nav_desktop li {
    margin-left: 16px;
  }
}

/*Header Mobile*/

@media only screen and (max-width: 375px) {
  .logo {
    display: none;
  }

  .nav_desktop {
    display: none;
  }

  .nav_mobile {
    width: 100%;
  }

  .nav_mobile ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
  }

  .nav_mobile li {
    display: flex;
    align-items: center;
  }
}

/*Learn Something*/

.container .learn{
  padding: 32px 24px;
}

.learn .image {
  width: 60%;
}

.image img {
  width: 100%;
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: inline-flex;
}

@media only screen and (max-width: 560px) {
  footer ul {
    display: none;
  }
}
